# Semana 03
Aquino Llacsa Carlos Daniel

Tema:
1.Numeros
2.Variables
3.Manejo de Cadenas
4.Ingreso de datos por el teclado
5.Operadores

In [2]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [4]:
cadena[0]

'U'

In [5]:
cadena[11]

' '

In [9]:
cadena[21]

'T'

In [10]:
cadena[-23]

'T'

In [11]:
cadena[11:19]

' Naciona'

In [14]:
len(cadena)

44

In [16]:
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [18]:
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [20]:
cadena.split()

['Universidad', 'Nacional', 'Tecnologica', 'de', 'Lima', 'Sur']

In [22]:
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnologic', ' de Lim', ' Sur']

In [24]:
cadena.split("i")

['Un', 'vers', 'dad Nac', 'onal Tecnolog', 'ca de L', 'ma Sur']

In [25]:
print("Yo estudio en la "+ cadena)

Yo estudio en la Universidad Nacional Tecnologica de Lima Sur

In [26]:
nombre = "Carlos Daniel"
edad = 22
print("Yo se que {} tiene {} años".format(nombre,edad))

Yo se que Carlos Daniel tiene 22 años

In [30]:
numero = 10/3
print( "El resultado de 10/3 es = {}".format(numero))

print( "El resultado de 10/3 es = {n:1.3f}".format(n=numero))

El resultado de 10/3 es = 3.3333333333333335
El resultado de 10/3 es = 3.333

In [32]:
print( "El resultado de 10/3 es = {x:1.4f}".format(x=numero))

El resultado de 10/3 es = 3.3333

In [33]:
print( f"El resultado de 10/3 es = {numero}")

El resultado de 10/3 es = 3.3333333333333335